<title>chatbot</title>
<h2>chatbot Results </h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	  Label: {{ messages[0] }}
	  ID: {{ messages[1] }}

	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/message" enctype="multipart/form-data">
    <dl>
	<p>
		<input type="text" placeholder="mobile no +91", name="From" autocomplete="off" >
		<input type="text" placeholder="enter text", name="Body" autocomplete="off" required>
		
	</p>
    </dl>
    <p>
	<input type="submit" value="Submit">
    </p>
</form>
